body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Cabin';
    color: white;
    font-weight: 750;
    height: 100vh;
    background-image: url("login-and-registration-page-background.png");
    background-position: center;
    background-size: cover;
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.container {
    height: 470px;
    width: 350px;
    background-color: rgba(29, 28, 67, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.messageDiv {
    background-color: rgb(34, 67, 80);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}

#email-details,
#password-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#remember-and-forgot-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

#remember-me-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

span {
    font-weight: 900;
    text-decoration-line: underline;
}

#remember-me-word:hover,
#forgot-password-word:hover,
h1:hover {
    text-decoration-line: underline;
}

#google-logo:hover,
#user-picture:hover,
#padlock-picture:hover {
    transform: scale(1.1);
}

#email-field,
#password-field {
    width: 275px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    background: none;
    color: white;
    font-weight: 750;
    font-family: 'Cabin';
    font-size: 15px;
}

#user-picture,
#padlock-picture,
#google-logo {
    padding: 5px;
    background-color: rgba(59, 63, 93);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px white;
}

#checkbox {
    height: 15px;
    width: 15px;
}

#login {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-weight: 750;
    text-align: center;
    background-color: rgba(59, 63, 93);
    box-shadow: 0px 0px 20px 2px white;
    color: white;
    font-size: 15px;
}

#register-word {
    font-weight: 900;
}

#login:hover {
    background-color: rgba(34, 67, 80, 0.8);
}

#email-field::placeholder,
#password-field::placeholder {
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}