body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Cabin';
    color: black;
    font-weight: 750;
    height: 100vh;
    background-image: url("login-page-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.container {
    height: 470px;
    width: 350px;
    background-color: rgba(173, 216, 230, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.messageDiv {
    background-color: brown;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    animation: fadeOut 7s forwards;
}

#first-name-field, #email-address-field, #email-password-field {
    width: 275px;
    height: 40px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    background: none;
    color: black;
    font-weight: 750;
    font-family: 'Cabin';
    font-size: 15px;
}

#sign-up {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-weight: 750;
    text-align: center;
    background-color: rgb(34, 67, 80);
    color: white;
    font-size: 15px;
}

#first-name-field::placeholder, #email-address-field::placeholder, #email-password-field::placeholder {
    color: black;
}

#google-logo:hover, #padlock-picture:hover, #user-picture:hover, #id-card:hover {
    transform: scale(1.1);
}

#sign-up:hover {
    background-color: rgba(34, 67, 80, 0.8);    
}

h1:hover {
    text-decoration-line: underline;
}

#padlock-picture, #user-picture, #id-card {
    padding: 5px;
    background: rgb(63, 102, 118);
    border-radius: 10px;
}

#email-address-details, #email-password-details, #first-name-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#login-word:hover {
    font-weight: 900;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}