body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Cabin';
    color: white;
    font-weight: 750;
    height: 100vh;
    background-image: url("login-and-registration-page-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

#search-picture {
    background-color: rgba(59, 63, 93);
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 0px 20px 2px white;
    animation-name: heartBeat;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

figcaption:hover,
h1:hover {
    text-decoration-line: underline;
}

#search-picture:hover {
    transform: scale(1.1);
}

#weather-emoji:hover {
    animation-play-state: paused;
}

#search-picture:active {
    transform: translateY(1px);
}

#weather-emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 100px;
    animation-name: rotateX;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 690px;
    background-color: rgba(29, 28, 67, 0.5);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px white;
}

#humidity-percentage,
#wind-kilometers-per-hour,
#pressure-value, 
#wind-angle-value {
    width: 100px;
    height: 20px;
    border-radius: 20px;
    border: none;
    background: none;
    text-align: center;
    font-weight: 750;
    color: white;
}

.search-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 120px;
}

#wind-details,
#humidity-details,
#pressure-details, 
#wind-angle-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 350px;
}

#temperature-and-celsius-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#description {
    text-align: center;
    width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#temperature-display {
    background: none;
    border: none;
    text-align: center;
    color: white;
    font-weight: 750;
    font-size: 25px;
    width: 120px;
}

.bottom-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 200px;
    margin-top: -100px;
}

#bottom-layout-bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -400px;
}

#bottom-layout-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#wind-picture-and-label,
#humidity-picture-and-label,
#pressure-picture-and-label, 
#wind-angle-picture-and-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#wind-picture:hover,
#humidity-picture:hover,
#location-picture:hover,
#pressure-picture:hover, 
#wind-angle-picture:hover {
    transform: scale(1.1);
}

#wind-picture,
#humidity-picture,
#location-picture,
#pressure-picture, 
#wind-angle-picture {
    background-color: rgba(59, 63, 93);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px white;
    animation-name: heartBeat;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#search {
    width: 280px;
    height: 35px;
    border-radius: 20px;
    text-align: left;
    border: none;
    font-family: 'Cabin';
    background-color: rgba(59, 63, 93);
    box-shadow: 0px 0px 20px 2px white;
    animation-name: heartBeat;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#search::placeholder,
input[type="search"] {
    color: white;
    font-weight: 750;
}

#submit {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heartBeat {
    0% {
        box-shadow: 0px 0px 20px 2px white;
    }

    50% {
        box-shadow: 0px 0px 15px 2px white;
    }

    100% {
        box-shadow: 0px 0px 20px 2px white;
    }
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}